<template>
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <span>
                Products

                <span v-if="loading">: Loading...</span>

                <template v-else>
                    <span v-if="productsData.last_page > 1">{{ `: ${productsData.from} - ${productsData.to}` }}</span>
                </template>
            </span>

            <a class="btn btn-secondary btn-sm" :href="`${url}/create`">Add product</a>
        </div>

        <div class="card-body">
            <filter-bar @set-filters="setFilters"/>

            <table v-if="productsData.data" class="table table-striped table-bordered table-hover table-sm mb-4">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Title | Content</th>
                    <th scope="col">Price</th>
                    <th scope="col">Attributes</th>
                    <th scope="col">Categories</th>
                    <th scope="col">Created</th>
                    <th scope="col">Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(product, index) in productsData.data">
                    <th scope="row">{{ productsData.from + index }}</th>
                    <td>
                        <img :src="product.image_src" :alt="product.title" style="width: 80px">
                    </td>
                    <td>
                        <p class="font-weight-bold">{{ product.title }}</p>
                        <p class="small">{{ product.content }}</p>
                    </td>
                    <td>${{ product.price }}</td>
                    <td>
                        <span v-for="attribute in product.attributes"
                              class="d-block border border-secondary rounded ml-1 mb-1 px-1 small">
                                    {{ attribute.title + ': ' + attribute.description }}
                                </span>
                    </td>
                    <td>
                        <span v-for="category in product.categories"
                              class="d-block border border-secondary rounded ml-1 mb-1 px-1 small">
                            {{ category.parent.title + ' > ' + category.title }}
                        </span>
                    </td>
                    <td class="small">{{ product.created_at }}</td>
                    <td>
                        <a :href="`${url}/${product.id}/edit`"
                           class="mr-1 small">
                            <i class="fas fa-pencil-alt"></i>
                        </a>

                        <a href="#" @click.prevent="deleteProduct(product.id)">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <pagination :data="productsData" @change="changePage"/>
        </div>
    </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'AdminProducts',
    props: ['url', 'path'],
    metaInfo: {
      title: 'Admin panel | All products',
    },
    data () {
      return {
        productsData: {},
        loading: false,
        page: 1,
        filters: {},
      }
    },
    watch: {
      page (val) {
        this.fetchData(val)
      }
    },
    created () {
      // this.fetchData()
    },
    methods: {
      async fetchData (page = 1) {
        this.loading = true

        await axios.get(`admin/products?page=${page}`, {
          params: this.filters
        })
          .then(res => this.productsData = res.data)
          .catch(err => console.log(err))

        this.loading = false
      },
      setFilters (filters) {
        Object.assign(this.filters, filters)
        this.fetchData()
      },
      changePage (val) {
        this.page = val
      },
      async deleteProduct (id) {
        if (confirm('Are you sure to delete?')) {
          await axios.delete(`admin/products/${id}`)

          this.fetchData(this.page)
        }
      }
    }
  }
</script>

<style scoped>

</style>