<template>
    <div class="border p-2 my-3">
        <div>Enter price: <input v-model="price"></div>

        <div class="border p-2 m-2">
            <div>JavaScript</div>

            <div>Input price:
                <span v-if="price">{{ priceToText(price) }}</span>
            </div>
            <div v-if="products">More: count - {{ products.more.count }}
                <span v-if="products.more.sum">
                    , total sum - {{ `${products.more.sum} (${priceToText(products.more.sum)})` }}
                </span>
            </div>
            <div v-if="products">Less: count - {{ products.less.count }}
                <span v-if="products.less.sum">
                    , total sum - {{ `${products.less.sum} (${priceToText(products.less.sum)})` }}
                </span>
            </div>
        </div>

        <div class="border p-2 m-2">
            <div>PHP</div>

            <div>Input price:
                <span v-if="products">{{ products.price_text }}</span>
            </div>
            <div v-if="products">More: count - {{ products.more.count }}
                <span v-if="products.more.sum">
                    , total sum - {{ `${products.more.sum} (${products.more.sum_text})` }}
                </span>
            </div>
            <div v-if="products">Less: count - {{ products.less.count }}
                <span v-if="products.less.sum">
                    , total sum - {{ `${products.less.sum} (${products.less.sum_text})` }}
                </span>
            </div>
        </div>
    </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'CheckPrice',
    data () {
      return {
        price: '',
        timer: null,
        products: null
      }
    },
    computed: {},
    watch: {
      price (val) {
        this.correctPrice()

        if (this.timer) clearTimeout(this.timer)

        if (val) {
          this.timer = setTimeout(() => {
            this.checkPrice()

            this.timer = null
          }, 1000)
        }
      }
    },
    methods: {
      checkPrice () {
        let price = this.price.replace(/\.$/, '')

        axios.post('products/check-price', {price: price})
          .then(res => this.products = res.data)
          .catch(err => console.log(err))
      },
      correctPrice () {
        this.price = this.price
          .replace(/^[0.]|[^0-9.]/g, '') // убираем нули и точки вначале строки, и лишние символы
          .replace(/\.+/, '.') // убираем лишние точки
          .replace(/^(\d+\.\d{2}).+$/, '$1') // оставляем два символа после точки
      },
      priceToText (price) {
        // Делим на рубли и копейки
        let segments = price.match(/\d+/g)

        let rub = `${this.numberToText(segments[0])} ${this.declOfNumber(segments[0], ['рубль', 'рубля', 'рублей'])}`

        // Если есть копейки
        if (segments.length > 1) {
          if (segments[1].length === 1) segments[1] += '0'

          let kop = `${this.numberToText(segments[1], true)} ${this.declOfNumber(segments[1], ['копейка', 'копейки', 'копеек'])}`

          return `${rub}, ${kop}`
        }

        return `${rub}`
      },
      numberToText (num, feminine = false) {
        // Разряды
        const numbers = {
          0: {
            '0': 'ноль',
            '1': ['один', 'одна'],
            '2': ['два', 'две'],
            '3': 'три',
            '4': 'четыре',
            '5': 'пять',
            '6': 'шесть',
            '7': 'семь',
            '8': 'восемь',
            '9': 'девять'
          },
          1: {
            '1': 'десять',
            '2': 'двадцать',
            '3': 'тридцать',
            '4': 'сорок',
            '5': 'пятьдесят',
            '6': 'шестьдесят',
            '7': 'семьдесят',
            '8': 'восемьдесят',
            '9': 'девяносто'
          },
          2: {
            '1': 'сто',
            '2': 'двести',
            '3': 'триста',
            '4': 'четыреста',
            '5': 'пятьсот',
            '6': 'шестьсот',
            '7': 'семьсот',
            '8': 'восемьсот',
            '9': 'девятьсот'
          }
        }

        // Спецчисла
        const teens = {
          '1': 'одиннадцать',
          '2': 'двенадцать',
          '3': 'тринадцать',
          '4': 'четырнадцать',
          '5': 'пятнадцать',
          '6': 'шестнадцать',
          '7': 'семнадцать',
          '8': 'восемнадцать',
          '9': 'девятнадцать',
        }

        // Системы чисел
        const numberSystems = {
          1: ['тысяча', 'тысячи', 'тысяч'],
          2: ['миллион', 'миллиона', 'миллионов'],
          3: ['миллиард', 'миллиарда', 'миллиардов']
        }

        // Делим число на сегменты по три знака с конца
        let numItems = num.toString().split(/(?=(?:\d{3})+(?!\d))/)

        let resultArray = []

        // Перебираем сегменты с конца
        numItems.reverse().forEach((item, itemId) => {
          let result = ''

          // Делим сегмент на цифры и переворачиваем
          let itemArray = item.split('').reverse()

          // Перебираем цифры
          itemArray.forEach((el, elId) => {
            // Если первая цифра тысяч равна 1, но тысячи не заканчиваются на 11,
            // , то добавляем в результат число женского рода и пропускаем итерацию
            if (itemId === 1 && elId === 0 && (item % 10 === 1 && item % 100 !== 11)) {
              result = `${numbers[elId][el][1]} ${result}`

              return
            }

            // Если цифр в сегменте больше одной
            if (itemArray.length > 1) {
              // Если находимся на первой цифре и вторая цифра равна 1
              // , или если текущая цифра равна 0, то пропускаем итерацию
              if ((elId === 0 && itemArray[1] === '1') || el === '0') return

              // Иначе если находимся на второй цифре и она равна 1
              // , и первая цифра не равна 0, то добавляем спецчисло в результат
              // и пропускаем итерацию
              else if (elId === 1 && itemArray[0] !== '0' && el === '1') {
                result = `${teens[itemArray[0]]} ${result}`

                return
              }
            }

            // Если первая цифра равна 1 или 2, то добавляем в результат
            // число выбранного рода и пропускаем итерацию
            if (elId === 0 && (el === '1' || el === '2')) {
              result = `${numbers[elId][el][feminine ? 1 : 0]} ${result}`

              return
            }

            // Добавляем цифру исходя из разряда
            result = `${numbers[elId][el]} ${result}`
          })

          // Если результат не пустой
          if (result = result.trim()) {
            // Если сегмент не первый, то добавляем систему чисел в результат
            if (itemId) {
              let system = this.declOfNumber(item, numberSystems[itemId])

              result = `${result} ${system}`
            }

            // Добавляем результат сегмента в массив
            resultArray.unshift(result)
          }
        })

        // Выводим массив результатов через разделитель
        return resultArray.join(' ')
      },
      // Склонение числительных
      declOfNumber (n, titles) {
        const cases = [2, 0, 1, 1, 1, 2]

        return titles[(n % 100 > 4 && n % 100 < 20) ? 2 : cases[(n % 10 < 5) ? n % 10 : 5]]
      }
    }
  }
</script>

<style scoped>

</style>