<template>
    <div class="mb-3 d-flex flex-wrap align-items-center">
        <label class="mr-3 my-1">
            With image:
            <input type="checkbox" name="image" v-model="filters.image" :checked="filters.image === '1'">
        </label>

        <div class="mr-3 my-1">
            <span class="mr-1">Order by:</span>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label v-for="item in orderItems"
                       :class="['btn', 'btn-secondary', 'btn-sm', filters.order_by === item.value ? 'active' : '']"
                       @click="changeOrder(item.value)">
                    <input type="radio" :checked="filters.order_by === item.value">
                    {{ item.name }}
                    <span v-if="filters.order_by === item.value">
                        <i :class="filters.sort === 'desc' ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i>
                    </span>
                </label>
            </div>
        </div>

        <label class="mr-3 my-1">
            By keywords:
            <input class="p-1 border" type="text" v-model="filters.search">
        </label>

        <div class="ml-auto">
            <a class="btn btn-sm" :href="getExportUrl('download')">
                Download excel
            </a>
            <a class="btn btn-sm" :href="getExportUrl('email')">
                Export to email
            </a>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'FilterBar',
    props: ['category'],
    data () {
      return {
        filters: {
          order_by: 'created_at',
          sort: 'desc',
          image: false,
          search: ''
        },

        orderItems: [
          {name: 'Title', value: 'title'},
          {name: 'Price', value: 'price'},
          {name: 'Created', value: 'created_at'},
        ],
        timeout: null
      }
    },
    computed: {
      queryString () {
        let query = ''

        Object.entries(this.filters).forEach(
          ([key, value]) => query += `&${key}=${value}`
        )

        return query
      }
    },
    watch: {
      filters: {
        handler (filters) {
          if (this.timeout) {
            clearTimeout(this.timeout)
          }

          this.timeout = setTimeout(() => {
            this.$emit('set-filters', filters)

            this.timeout = null
          }, 500)

          this.setQueryString()
        },
        deep: true
      }
    },
    created () {
      this.setFiltersFromUrl()

      this.$emit('set-filters', this.filters)
    },
    methods: {
      changeOrder ($value) {
        if (this.filters.order_by === $value) {
          this.filters.sort = this.filters.sort === 'desc' ? 'asc' : 'desc'
        } else {
          this.filters.sort = 'asc'
          this.filters.order_by = $value
        }
      },
      getExportUrl (method) {
        let category = this.category ? `category=${this.category}&` : ''

        return `${Laravel.baseUrl}/export/products?${category}method=${method}${this.queryString}`
      },
      getUrlParam (name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]')

        let regex = new RegExp('[\\?&]' + name + '=([^&#]*)')
        let results = regex.exec(location.search)

        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '))
      },
      setFiltersFromUrl() {
        Object.keys(this.filters).forEach((key) => {
          let value = this.getUrlParam(key)

          if (value) {
            if (this.filters.hasOwnProperty(key)) {
              if (key === 'order_by') {
                if (! this.orderItems.map(el => el.value).includes(value)) return
              }

              this.filters[key] = value === 'true' ? true : value === 'false' ? false : value
            }
          }
        })
      },
      setQueryString() {
        history.pushState(null, null, location.pathname + '?' + this.queryString)
      }
    }
  }
</script>

<style scoped>

</style>