<template>
    <nav v-if="data.total > data.per_page">
        <ul class="pagination">
            <li class="page-item"
                v-if="data.prev_page_url"
                @click.prevent="$emit('change', --data.current_page)"
            >
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <li v-for="page in data.last_page"
                :class="['page-item', page === data.current_page ? 'active' : '']"
                @click.prevent="$emit('change', page)"
            >
                <a class="page-link" href="#">{{ page }}</a>
            </li>

            <li class="page-item"
                v-if="data.next_page_url"
                @click.prevent="$emit('change', ++data.current_page)"
            >
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</template>

<script>
  export default {
    name: 'Pagination',
    props: ['data']
  }
</script>

<style scoped>

</style>