<template>
    <div>
        <div>
            <span v-if="loading">Loading...</span>
            <template v-else>
                <span v-if="productsData.last_page > 1">{{ `Page ${productsData.current_page}:` }}</span>
                <span v-if="productsData.data">{{ `${productsData.from} - ${productsData.to}` }}</span>
            </template>
        </div>

        <filter-bar :category="category" @set-filters="setFilters"/>

        <div class="container">
            <div class="row">
                <div v-if="productsData.data.length" v-for="product in productsData.data"
                     class="col-12 col-md-6 col-lg-4 mb-3">
                    <product-card :url="url" :product="product"/>
                </div>

                <p v-else class="list-group-item">Products not found</p>
            </div>
        </div>

        <pagination :data="productsData" @change="changePage"/>
    </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'Products',
    props: ['url', 'path', 'category'],
    metaInfo: {
      title: 'MBicycle test | All products',
    },
    data () {
      return {
        productsData: {},
        loading: false,
        page: 1,
        filters: {},
      }
    },
    computed: {
    },
    watch: {
      page (val) {
        this.fetchData(val)
      }
    },
    created () {
      // this.fetchData()
    },
    methods: {
      async fetchData (page = 1) {
        this.loading = true

        await axios.get(`${this.path}?page=${page}`, {
          params: this.filters
        })
          .then(res => this.productsData = res.data)
          .catch(err => console.log(err))

        this.loading = false
      },
      setFilters (filters) {
        Object.assign(this.filters, filters)
        this.fetchData()
      },
      changePage (val) {
        this.page = val
      }
    }
  }
</script>

<style scoped>

</style>