<template>
    <div class="card text-center h-100">
        <img class="card-img-top img-thumbnail" :src="product.image_src" :alt="product.title"
             style="display: block;width: 100%;height: auto;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ product.title }}</h5>

            <div class="card-text">
                <p>{{ product.content }}</p>

                <p>Price: ${{ product.price }}</p>
            </div>

            <a :href="`${url}/${product.slug}`">Show details</a>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'ProductCard',
    props: ['url', 'product']
  }
</script>

<style scoped>

</style>