<template>
    <div class="rating">
        <label v-for="val in 5"
               :class="['fas', 'fa-star', !disabled ? 'pointer' : '', val <= rating ? 'checked' : '']"
        >
            <input v-if="disabled" name="rating" type="radio" hidden :value="val">
            <input v-else name="rating" type="radio" hidden v-model="rating" :value="val">
        </label>
    </div>
</template>

<script>
  export default {
    name: 'Rating',
    props: ['value', 'disabled'],
    data () {
      return {
        rating: 5,
      }
    },
    created() {
      if (this.value) {
        this.rating = this.value
      }
    }
  }
</script>

<style lang="scss" scoped>
    .rating {
        margin-bottom: 15px;

        .fas.fa-star {
            color: #ccc;
            display: inline;

            &.checked {
                color: #606060;
            }
        }

        .pointer {
            cursor: pointer;
        }
    }
</style>